.container-home{
    background-color: #F8F8F9;
}
.sign-home{
    display: flex;    
}
.sign-home-card{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    .display-flex{
        display: flex;
        flex-direction: column;
      
    }
}