/* --------Layout do SidMenu--------- */
.sign-nav{
    width: 11rem;
    background: #F0F0F5;
    height: 100vh;    
}
.sign-nav-menu{
    padding-top: 4rem ;    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    flex-direction: column;
}
.sign-nav-texto{
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #DA0175;
}
.sign-nav-alinhamento{
    display: flex;    
    flex-direction: column;
    align-items: center;    
}
.sign-nav-alinhamento p{
    padding-top: 1rem;
}

.color-nav-menu{
    color: var(--amarelo-normal);
}
.color-nav-menu-fixo{
   color: #343447;

}
.sidenav .active{
    text-decoration: underline;
    color: blue;
  }

/* -----teste------- */
.item{    
    flex: 0 0 19.7%;
    text-align: center;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
}
.item:hover {
    transform: scale(1.5) !important;
}


